doctype html
html
  head
    style
      include style.css
  body
    div.frogcoaching-container-root
      h3.frogcoaching-title Verify Your Email Address
      p.frogcoaching-content Hi Jackson Ben, To continue using Frog List Coaching System, please verify your email address:
      a(href=verifyUrl).frogcoaching-btn-container
        button.frogcoaching-verify-btn click to verify
    script
      include script.js