.frogcoaching-container-root {
  background: #ebebeb;
  border-radius: 3px;
  padding: 48px 0px;
}
.frogcoaching-title {
  text-align: center;
}
.frogcoaching-content {
  text-align: center;
}
.frogcoaching-btn-container {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-decoration: none;
}
.frogcoaching-verify-btn {
  border: none;
  width: 150px;
  padding: 10px 0px;
  border-radius: 3px;
  background: #3a98b9;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
